@import "./var/var.scss";
@import "./mixins/mixins.scss";
@import "./common/common.scss";

@for $i from 0 through 12 {
  .delay-#{$i} {
    animation-delay: 0.05s * $i;
  }
}

@font-face {
  font-family: "iconfont"; /* Project id 2833493 */
  src: url("//at.alicdn.com/t/font_2833493_e5ftepeuks.woff2?t=1632840188177")
      format("woff2"),
    url("//at.alicdn.com/t/font_2833493_e5ftepeuks.woff?t=1632840188177")
      format("woff"),
    url("//at.alicdn.com/t/font_2833493_e5ftepeuks.ttf?t=1632840188177")
      format("truetype");
}

.nuxt-progress {
  background-color: var(--color-default);
}
.ant-spin-nested-loading > div > .ant-spin {
  max-height: initial;
}
.ant-spin-container {
  &:after {
    background-color: rgba(22,32,47,.9) !important;
  }
}
.ant-spin-blur {
  &:after {
    opacity: 0.9;
  }
}

.layout-min-height {
  min-height: calc(100vh - 178px);
}
:root {
  --sofeItembackgroundColor: #1b273a;
  --sofeItemColor: #a0b4c8;
  --borderColor: #243043;
  --tutorialBackgroundColor: #121a26;
  --color-default: #50a1ff;
  --color-success: #0081cc;
  --color-danger: #e93b3d;
  --color-warn: #fa811b;
  --color-fontColor: #a0b4c8;
  --darkBackgroundColor: #16202f;
  --borderColor: rgba(120, 130, 140, 0.09);
  --color-textColor: rgba(160,180,200,0.9)
}
.text-muted {
  color: var(--sofeItemColor) !important;
  opacity: 0.7;
}
.border {
  border: 1px solid var(--borderColor);
}
.blur_img {
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  transition: transform 1s, filter 0.5s 0.5s;
  filter: blur(10px) opacity(70%);
  transform: scale(1.1);
  &.lazyloaded {
    filter: blur(0) opacity(100%);
    transform: scale(1);
  }
}
.fr {
  margin-left: auto;
  float: right;
}
.dark {
  background-color: #16202f;
  color: rgba(160, 180, 200, 0.9);
}
.nuxt-link-active {
  color: $color-default !important;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-fontColor);
}
button {
  background: transparent;
  box-shadow: none;
  outline: none;
  padding: 0;
  border: 0;
  cursor: pointer;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  &:hover {
    color: var(--color-default);
  }
}

@font-face {
  font-family: "Dosis";
  src: url("@/assets/fonts/Dosis-Regular-2.ttf");
}

body {
  font-family: "Dosis";
  font-size: 15px;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.animation {
  animation-fill-mode: backwards;
  animation-duration: 1s;
}
.fadeInLeft {
  animation-name: fadeInLeft;
}
.img-responsive {
  width: 100%;
  display: block;
  max-width: 100%;
}
@keyframes vanishInSmall {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(1.5);
    -webkit-filter: blur(90px);
    filter: blur(90px);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}
@keyframes fadeInLeft {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes scale-upOne {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.2);
  }
}
@keyframes service_hexagon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes animationFramesOne {
  0% {
    transform: translate(0) rotate(0deg);
  }
  20% {
    transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    transform: translate(0) rotate(0deg);
  }
}
@keyframes animationFramesTwo {
  0% {
    transform: translate(0) rotate(0deg) scale(1);
  }
  20% {
    transform: translate(73px, -1px) rotate(36deg) scale(0.9);
  }
  40% {
    transform: translate(141px, 72px) rotate(72deg) scale(1);
  }
  60% {
    transform: translate(83px, 122px) rotate(108deg) scale(1.2);
  }
  80% {
    transform: translate(-40px, 72px) rotate(144deg) scale(1.1);
  }
  100% {
    transform: translate(0) rotate(0deg) scale(1);
  }
}

@keyframes animationFramesFour {
  0% {
    transform: translate(-300px, 151px) rotate(0deg);
  }
  100% {
    transform: translate(251px, -200px) rotate(180deg);
  }
}
.container-sm {
  max-width: 990px;
  padding: 0 15px;
  margin: 0 auto;
}

.tutorial-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  > div {
    width: calc(50% - 10px);
    &:first-child {
      .post-item {
        height: calc(100% - 20px);
      }
    }
    &:last-child {
      .post-item {
        padding: 32px 20px;
        .title {
          font-size: 24px;
          margin-bottom: 0;
        }
        .post-meta {
          padding-top: 0;
          line-height: 1.9;
        }
        @at-root .category--tools {
          background: #9ba3bb !important;
        }
      }
    }
  }
  .post-item {
    border-radius: 20px;
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: #fff;
    width: 100%;
    align-items: flex-end;
    padding-bottom: 28px;
    position: relative;
    &:hover {
      transform: scale(1.015);
      box-shadow: 0 20px 30px rgba(116, 116, 166, 0.15);
    }
    .title {
      font-size: 46px;
      color: #fff;
      margin-bottom: 30px;
      max-height: 210px;
      line-height: 1.3;
      width: 100%;
      height: auto;
      font-weight: 500;
      letter-spacing: 0.5px;
      font-family: CircularStd-Medium, helvetica, sans-serif;
      @include clamp(2);
    }
    .post-meta {
      padding-top: 16px;
      margin-top: 10px;
      display: flex;
      align-items: center;
      max-width: 100%;
    }
    .category {
      margin-right: 15px;
    }
    @at-root .category {
      font-family: CircularStd-Bold, helvetica, sans-serif;
      padding: 8px 12px;
      font-size: 12px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      background: #f7236f;
      border-radius: 12px;
      display: inline-block;
      color: #fff;
    }
  }
}

.my-amodal {
  .ant-modal {
    .ant-modal-title {
      color: $color-fontColor;
      font-size: 20px;
    }
  }
  .ant-modal-body {
    padding: 16px;
  }
  .ant-modal-content {
    border-radius: 25px;
    overflow: hidden;
  }
  .ant-modal-header {
    border-bottom: none;
    font-size: 20px;
    font-weight: 400;
    padding: 30px 30px 10px;
    text-align: left;
    line-height: 30px;
  }
  &.dark {
    .ant-modal-content {
      box-shadow: 0 0 45px rgba(0, 0, 0, 0.8);
      background-color: rgba(22, 32, 47, 0.9);
    }
    .ant-modal-header {
      background-color: rgba(22, 32, 47, 0.9);
    }
  }
}
.download-list {
  padding: 24px 24px 16px;
  .download-list__item {
    display: flex;
    color: $color-fontColor;
    margin-bottom: 24px;
    .icon {
      width: 30px;
      height: 30px;
      margin-right: 16px;
    }
    .title {
      display: block;
      line-height: 30px;
      &:hover {
        b {
          color: $color-default;
        }
        span {
          color: $color-fontColor;
        }
      }
      b {
        font-size: 17px;
        font-weight: 500;
        margin-right: 12px;
      }
      span {
        i {
          color: #3cd458;
          font-style: initial;
        }
      }
    }
    .summary {
      font-size: 14px;
    }
  }
}
.h150 {
  height: 150px;
}
.section-title {
  h4 {
    color: var(--color-fontColor);
    font-size: 1.52344rem;
    span {
      font-size: 18px;
      margin-left: 8px;
      font-weight: 400;
    }
  }
}
.app-layout {
  padding: 25px 0;
  line-height: 1.9;
  .app-sidebar {
    display: flex;
    flex-direction: column;
    width: 110px;
    margin-right: 25px;
    .title {
      font-size: 12px;
      padding-top: 4px;
      margin-bottom: 0;
      opacity: 0.4;
    }
    .ant-menu {
      background: transparent;
      border: none;
    }
    .ant-menu-submenu-title {
      padding: 3px 0 !important;
      font-size: 15px;
      font-weight: 400;
      line-height: 30px;
      margin: 0 !important;
      height: auto;
      color: var(--color-fontColor);
      box-sizing: content-box;
      transition: all 0.3s;
    }
    .ant-menu-sub {
      padding: 5px !important;
    }
    .ant-menu-item {
      padding: 3px 0 !important;
      margin: 0;
      height: auto;
      line-height: 30px;
      color: var(--color-fontColor);
      opacity: 0.7;
      font-size: 14px;
      transition: all 0.3s;
      &.ant-menu-item-active {
        color: var(--color-default);
        opacity: 1;
        transform: translateX(5px);
      }
      &.ant-menu-item-selected {
        background: transparent;
        color: var(--color-default);
        opacity: 1;
        border: none;
        &:after {
          display: none;
        }
      }
    }
    .ant-menu-submenu {
      &:first-child {
        .ant-menu-sub {
          display: none !important;
        }
      }
    }
    .ant-menu-submenu-active {
      .ant-menu-submenu-title {
        color: var(--color-default);
        transform: translateX(5px);
      }
    }
    .ant-menu-submenu-arrow {
      display: none !important;
    }
    .iconfont {
      color: inherit;
      width: 30px;
      text-align: center;
    }
    .ant-menu-submenu-open {
      .ant-menu-submenu-title {
        color: var(--color-default);
      }
      .iconfont {
        transform: rotate(90deg);
      }
    }
  }
  .app-content {
    flex: 1;
    .app-content-header {
      display: flex;
      margin-bottom: 20px;
      align-items: center;
      .main-title {
        margin-right: 32px;
        line-height: 1.5;
      }
      h5 {
        margin: 0;
        font-size: 20px;
        font-weight: 400;
        color: var(--color-fontColor);

        span {
          color: var(--color-fontColor);
          opacity: 0.7;
          font-size: 13px;
          vertical-align: 1px;
          margin-left: 4px;
        }
      }
    }
    .menu {
      flex: 1;
      padding-top: 4px;
    }
    .app-content-body {
      line-height: 1.5;
    }
  }
}
.menu__list {
  color: var(--color-fontColor);
  .ant-tabs-nav-container {
    font-size: 15px;
  }
  .ant-tabs-bar {
    margin: 0;
    border: none;
  }
  .ant-tabs-tab {
    padding: 0 0 4px;
    margin: 0 15px;
  }
  .ant-tabs-ink-bar {
    height: 2px;
    width: 10px !important;
    background-color: var(--color-default);
    left: 10px;
  }
}
.target-blank {
  display: flex;
  align-items: center;
  margin-left: auto;
  .ant-switch {
    &:after {
      background-color: #5e80b3;
    }
  }
  .ant-switch {
    background-color: #263852;
  }
  .ant-switch-checked {
    background-color: var(--color-default);
    &.ant-switch {
      &:after {
        background-color: #fff;
      }
    }
  }
  span {
    margin-left: 10px;
  }
}
@media (max-width: 768px) {
  .footer {
    nav {
      display: none;
    }
  }
  .navbar {
    nav {
      display: none !important;
    }
  }
  .artilce-detail {
    .artilce-content {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  .topbar {
    display: none !important;
  }
  .search-wrapper {
    display: none !important;
  }
  .tutorial-box {
    flex-direction: column;
    > div {
      width: 100%;
    }
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 768px;
  }
  .footer {
    nav {
      display: none;
    }
  }
  .sofe-inner {
    .container {
      max-width: 660px;
    }
  }
  .w-col {
    width: (100% / 2);
  }
  .app-layout {
    .app-content-body {
      .ant-col {
        width: (100% / 2) !important;
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1260px) {
  .container {
    max-width: 992px;
  }
  .bibei-wrapper {
    .ant-col {
      width: (100% / 4) !important;
    }
  }
  .sofe-inner {
    .container {
      max-width: 860px;
    }
  }
  .w-col {
    width: (100% / 3);
    &:nth-child(10n + 10) {
      display: none;
    }
  }
  .app-layout {
    .app-content-body {
      .ant-col {
        width: (100% / 3) !important;
      }
    }
  }
}
@media (min-width: 1260px) and (max-width: 1500px) {
  .container {
    max-width: 1200px;
  }
  .bibei-wrapper {
    .ant-col {
      width: (100% / 5) !important;
    }
  }
  .sofe-inner {
    .container {
      max-width: 1080px;
    }
  }
  .w-col {
    width: (100% / 4);
    &:nth-child(10n + 9),
    &:nth-child(10n + 10) {
      display: none !important;
    }
  }
}
@media (min-width: 1500px) {
  .container {
    max-width: 1440px;
  }
  .sofe-inner {
    .container {
      max-width: 1240px;
    }
  }
  .w-col {
    width: (100% / 5);
  }
  .app-layout {
    .app-content-body {
      .ant-col {
        width: (100% / 5) !important;
      }
    }
  }
}

.sofe-inner {
  // background: var(--sofeDetailBgColor);
  margin-bottom: 80px;
  background: #1c283b;
  box-shadow: 0 30px 48px rgba(9, 13, 19, 0.5);
  border: 1px solid var(--borderColor);
}
.form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 10px 25px;
  font-size: 15px;
  line-height: 1.9;
  color: #999;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--borderColor);
  border-radius: 2px;
  background-color: #23334b;
  color: rgba(160, 180, 200, 0.9);
  font-weight: 300;
  outline: none;
  &::placeholder {
    color: rgba($color: #fff, $alpha: 0.7);
  }
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  border: 1px solid var(--borderColor);
  transition: all 0.3s ease-out;
  .input-group-prepend {
    margin-left: 0;
    margin-right: 0;
    .input-group-text {
      background-color: #23334b;
      color: rgba(160, 180, 200, 0.9);
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 20px;
      border: none;
      font-weight: 300;
      border-radius: 0;
      height: 100%;
    }
  }
  .form-control {
    flex: 1;
    border: none;
    border-radius: 0;
  }
}
.comments {
  .comments-form {
    position: relative;
    margin-bottom: 48px;
    textarea {
      border-radius: 0 0 5px 5px;
      padding: 20px 25px 60px;
      background-color: #23334b;
      color: rgba(160, 180, 200, 0.9);
      height: auto;
      resize: none;
    }
    .input-group {
      border-bottom: 0;
      overflow: hidden;
    }
    .ant-col {
      &:first-child {
        .input-group {
          border-right: 0;
          border-radius: 5px 0 0 0;
        }
      }
      &:last-child {
        .input-group {
          border-radius: 0 5px 0 0;
        }
      }
    }
  }
  textarea {
    border-radius: 0 0 5px 5px;
  }
  .comments-action-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    .button {
      height: auto;
      border-radius: 5px 0 5px 0;
      padding: 10px 25px;
      font-size: 15px;
      font-weight: 600;
    }
  }
  .comments-list {
    list-style: none;
    padding: 0;
    .item {
      display: flex;
      line-height: 1.9;
      .avatar {
        margin-right: 12px;
        display: block;
        img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
        }
      }
      .name {
        margin-right: 24px;
        color: var(--color-default);
        font-size: 16px;
      }
      .time {
        font-size: 13px;
      }
      .content {
        padding: 16px 0 24px;
        border-bottom: 1px dashed var(--borderColor);
        .comment-child {
          margin-top: 24px;
          .avatar {
            img {
              width: 32px;
              height: 32px;
            }
          }
          .content {
            font-size: 14px;
            padding: 12px 0;
            border: none;
          }
        }
      }
    }
  }
}

.layout-main {
  padding: 32px 0;
  .inner {
    box-shadow: 0 30px 48px rgba(9, 13, 19, 0.5);
    border: 1px solid var(--borderColor);
  }
  .sofe-inner {
    background-color: #16202f;
  }
}
