@import "./var/var.scss";
@import "./mixins/mixins.scss";
@import "./common/common.scss";

@media (max-width: 768px) {
  .footer {
    nav {
      display: none;
    }
  }
  .navbar {
    nav {
      display: none !important;
    }
  }
  .artilce-detail {
    .artilce-content {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  .topbar {
    display: none !important;
  }
  .search-wrapper {
    display: none !important;
  }
  .tutorial-box {
    flex-direction: column;
    > div {
      width: 100%;
    }
  }
  .app-layout {
    > .container {
      padding: 0;
    }
    .app-content__list--body {
      .sofe-wrapper__item {
        padding: 15px 32px !important;
      }
      .sofe-wrapper__item--con {
        width: 1% !important;
      }
      .arrow {
        margin-left: 8px;
      }
      .size {
        display: none !important;
      }
    }
    .main-title {
      padding: 0 32px;
    }
    .my-mpagination {
      margin-top: 20px;
    }
  }
  .device-mobile {
    .sofeDetail-wrapper {
      text-align: center;
      .icon {
        width: 96px;
        height: 96px;
      }
      h3 {
        font-size: 24px;
      }
      h5 {
        font-size: 20px;
      }
      .info-list {
        margin: 16px 0 24px;
        span {
          margin-right: 12px;
          .iconfont {
            font-weight: 400;
            margin-right: 4px;
            opacity: 0.7;
          }
        }
      }
      .title {
        font-size: 24.5px;
        font-weight: 700;
        margin-top: 24px;
      }
      .soft-blockquote {
        width: 100%;
        padding: 24px;
      }
      .swiper-pagination {
        position: relative;
        margin: 24px 0 0;
      }
      .button {
        width: 200px;
        height: 44px;
        font-size: 15px;
        border-radius: 44px;
        margin-bottom: 48px;
      }
    }
    .topbar {
      display: none;
    }
    .navbar {
      display: none;
    }
    .main-wrapper {
      display: none;
    }
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 768px;
  }
  .footer {
    nav {
      display: none;
    }
  }
  .sofe-inner {
    .container {
      max-width: 660px;
    }
  }
  .w-col {
    width: (100% / 2);
  }
  .app-layout {
    @include b(app-content) {
      @include e(list) {
        @include m(header) {
        }
        @include m(body) {
          .ant-row-flex {
            &.grid-row {
              .f-col {
                width: (100% / 3);
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1260px) {
  .container {
    max-width: 992px;
  }
  .bibei-wrapper {
    .ant-col {
      width: (100% / 4) !important;
    }
  }
  .sofe-inner {
    .container {
      max-width: 860px;
    }
  }
  .w-col {
    width: (100% / 3);
    &:nth-child(10n + 10) {
      display: none;
    }
  }
  .app-layout {
    @include b(app-content) {
      @include e(list) {
        @include m(header) {
        }
        @include m(body) {
          .ant-row-flex {
            &.grid-row {
              .f-col {
                width: (100% / 3);
              }
            }
          }
        }
      }
      @include e(info) {
      }
    }
  }
}
@media (min-width: 1260px) and (max-width: 1500px) {
  .container {
    max-width: 1200px;
  }
  .bibei-wrapper {
    .ant-col {
      width: (100% / 5) !important;
    }
  }
  .sofe-inner {
    .container {
      max-width: 1080px;
    }
  }
  .w-col {
    width: (100% / 4);
    &:nth-child(10n + 9),
    &:nth-child(10n + 10) {
      display: none !important;
    }
  }
  .app-layout {
    @include b(app-content) {
      @include e(list) {
        @include m(header) {
        }
        @include m(body) {
          .ant-row-flex {
            &.grid-row {
              .f-col {
                width: (100% / 4);
              }
            }
          }
        }
      }
      @include e(info) {
      }
    }
  }
}
@media (min-width: 1500px) {
  .container {
    max-width: 1440px;
  }
  .sofe-inner {
    .container {
      max-width: 1240px;
    }
  }
  .w-col {
    width: (100% / 5);
  }
  .app-layout {
    @include b(app-content) {
      @include e(list) {
        @include m(header) {
        }
        @include m(body) {
        }
      }
      @include e(info) {
      }
    }
  }
}
