$color-default: #50A1FF;
$color-success: #0081CC;
$color-danger: #e93b3d;
$color-warn: #fa811b;
$color-fontColor: #A0B4C8;


$element-separator: '__';
$modifier-separator: '--';
$state-prefix: 'is-';




