@import '@/scss/var/var.scss';
@import '@/scss/mixins/mixins.scss';

button:after {
  border-color: transparent;
}

.nowrap {
  @include nowrap()
}
.fixed-bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.button {
  font-size: 16px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  font-weight: 500;
  white-space: nowrap;
  background-color: #fff;
  box-sizing: border-box;
  width: auto;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s;
  &:focus {
    outline: none;
  }
}

.button-block {
  width: 100%;
  display: block;
}

.button-default {
  background: $color-default ;
  color: #fff ;
  border-color: $color-default ;
  &:hover {
    background: darken($color: $color-default, $amount: 10) ;
    color: #fff ;
    border-color: darken($color: $color-default, $amount: 10) ;
  }
}
.button-default-reverse {
  background: transparent ;
  color: $color-default ;
  border-color: $color-default ;
  &:hover {
    background: $color-default;
    color: #fff;
  }
}
.button-warn {
  background: #fa811b;
  color: #fff;
  border-color: #fa811b;
}
.button-warn-reverse {
  background: #fff;
  color: #fa811b;
  border-color: #fa811b;
}
.button-cancel {
  border-color: #c3c3c3;
  color: #444;
}
.button-danger {
  background: #e93b3d;
  color: #fff;
  border-color: #e93b3d;
}
.button-disabled {
  background-color: #eee;
  color: #afafaf;
}
.flex-box {
  display: flex;
}
.align-center {
  align-items: center;
}

.text-danger {
  color: $color-danger;
}
.text-center {
  text-align: center;
}
.fw600 {
  font-weight: 600 !important;
}
.fw400 {
  font-weight: 400 !important;
}

.f12 {
  font-size: 12px;
}

.mr12 {
  margin-right: 12px;
}

.mb32 {
  margin-bottom: 32px;
}