@import '@/scss/var/var.scss';
@import '@/scss/mixins/mixins.scss';

button:after {
  border-color: transparent;
}

.fixed-bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.button {
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  border: 1px solid transparent;
  font-weight: 500;
  white-space: nowrap;
  background-color: #fff;
  box-sizing: border-box;
  text-align: center;
  width: auto;
  border-radius: 0;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.button-block {
  width: 100%;
  display: block;
}

.button-default {
  background: $color-default !important;
  color: #fff !important;
  border-color: $color-default !important;
  &:active {
    background: darken($color: $color-default, $amount: 10) !important;
    color: #fff !important;
    border-color: darken($color: $color-default, $amount: 10) !important;
  }
}
.button-normal-reverse {
  background: #fff !important;
  color: $color-default !important;
  border-color: $color-default !important;
}
.button-warn {
  background: #fa811b;
  color: #fff;
  border-color: #fa811b;
}
.button-warn-reverse {
  background: #fff;
  color: #fa811b;
  border-color: #fa811b;
}
.button-cancel {
  border-color: #c3c3c3;
  color: #444;
}
.button-danger {
  background: #e93b3d;
  color: #fff;
  border-color: #e93b3d;
}
.button-disabled {
  background-color: #eee;
  color: #afafaf;
}
.flex-box {
  display: flex;
}